.app-store-page {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.filters {
  width: 25%;
  height: min-content;
  border: solid 1px $back-dark;
  .filters__bar {
    display: flex;
    padding: 5px;
    justify-content: space-around;
    align-items: center;
    background-color: $back-dark;
    box-sizing: border-box;
    height: 40px;
    border: solid 1px $back-dark;
    .filters__reset-filters,
    .filters__copy-link {
      display: flex;
      border: solid 1px $back-dark;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      width: 100%;
      height: 100%;
      text-align: center;
    }
    .filters__reset-filters {
      margin-right: 5px;
    }
  }
}

.filters__blocks {
  h3 {
    height: 24px;
    background-color: $back-dark;
    color: $font-color-white;
    text-align: center;
    font-weight: 400;
  }

  .filters__category-wrapper,
  .filters__brand-wrapper,
  .filters__price-wrapper,
  .filters__stock-wrapper {
    margin: 5px;
    border: solid 1px $back-dark;
    height: min-content;
  }
  .filters__checkbox-line {
    display: flex;
    padding: 10px;
    span {
      margin-left: auto;
    }

    label{
      margin-left: 5px ;
    }
  }

  .filters__price,
  .filters__stock {
    overflow: scroll;
    height: 100px;
    .filters__multi-range {
      display: flex;
      flex-direction: column;
      width: 80%;
      margin: 20px auto;
      .filters__slides-control {
        position: relative;
        height: 20px;
        input[type=range]::-webkit-slider-thumb {
          -webkit-appearance: none;
          pointer-events: all;
          width: 15px;
          height: 15px;
          background-color: #fff;
          border-radius: 50%;
          box-shadow: 0 0 0 1px #C6C6C6;
          cursor: pointer;
        }

        input[type=range] {
          -webkit-appearance: none;
          appearance: none;
          height: 2px;
          width: 100%;
          position: absolute;
          background-color: #C6C6C6;
          pointer-events: none;
        }

        #from-slider-price,
        #from-slider-stock
         {
          height: 0;
          z-index: 1;
        }
      }

      .filters__form-control {
        position: relative;
        display: flex;
        justify-content: space-between;
        text-align: center;

        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
           opacity: 1;
        }
      }
    }
  }
}

.products {
  display: flex;
  flex-direction: column;
  width: 74%;
  height: min-content;
  border: solid 1px $back-dark;
  .products__filters {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background-color: $back-dark;
    width: 100%;
    height: 40px;
    border: solid 1px $back-dark;
    .products__sort-bar {
      height: 100%;
      border: none;
    }

    .products__search-bar {
      padding: 5px;
      height: 100%;
      box-sizing: border-box;
      border: none;
    }
  }
  .products__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: solid 1px $back-dark;
  }
}