.footer {
    margin-top: auto;
    width: 100%;
    text-align: center;
    background-color: $back-dark;
    color: $font-color-white;

    .footer__content {
        display: flex;
        position: relative;
        justify-content: space-between;
        align-items: center;
        height: 56px;
        .footer__git-hub {
            display: flex;
            .footer__git-hub-img {
                height: 46px;
                margin-top: 4px;
            }

            .footer__git-hub-links {
                display: flex;
                flex-direction: column;
                justify-content: center;
                a {
                    text-decoration: none;
                    color: $font-color-white;
                }
                :hover {
                    color: rgb(160, 160, 160);
                }
            }
        }

        .footer__rrs {
            height: 46px;
            margin-top: 4px;
            border: solid 1px $font-color-white;
        }
    }
}