.header {
  width: 100%;
  color: $font-color-white;
  background-color: $back-dark;
  .header__wrapper {
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .header__cart, .header__logo {
      cursor: pointer;
    }
  }
}